body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  border: 8px solid white;
  width: 400px;
  background: #fff;


}

.title {
  background: #e3f4ff;
  font-size: 16px;
  font-weight: 800;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
}

.content {
  background: #e3f4ff;
  font-weight: 600;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 8px;
  padding-right: 8px;
  
}

.button-container {
  background: #e3f4ff;
  border-top: 8px solid white;
  text-align: center;
  font-weight: 700;
  padding: 8px;

}

button {
  background: white;
  border: 1px solid #eee;
  font-weight: 700;
  margin: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 24px;
  padding-right: 24px;
  display: block;
  
}